<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>Project</title>
=======
    <title>Practice</title>
>>>>>>> 13f2253ac516ac9352433e410ea9bba29a92d04f
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
